doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- BOOTSTRAP CSS CDN
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    //- OPEN SANS FONT GOOGLE CDN
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="/css/default.css")
    title Twitterment
  body
    header.container-fluid
    section#features.container
        .row
          .col-sm-12
            .intro-text
              h2 Inform yourself about your Brand's Twitter presence
              p See what's happening. Know your brand's sentiment.
          .col-sm-12.col-lg-4
            img Graph Image
          .col-sm-12.col-lg-4
            img Graph Image
          .col-sm-12.col-lg-4
            img Graph Image