<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/default.css">
    <title>Twitterment</title>
  </head>
  <body>
    <header class="container-fluid">
      <div class="row">
        <nav class="col-sm-12">
          <ul>
            <li id="home-nav"><a href="#home">Twitterment</a></li>
            <li id="features-nav"><a href="#features">Features</a></li>
            <li id="about-nav"><a href="#about">About</a></li>
            <li id="contact-nav"><a href="contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <div class="hero col-sm-12">
          <h1>Track your Brand Sentiment on Twitter</h1>
          <h2>What are people saying about your brand?</h2>
          <h2 class="text-logo">Twitterment</h2>
          <div id="search-bar">
            <div class="input-group">
              <input type="search" id="search" placeholder="Enter Brand or Keyword" class="form-control"><span class="input-group-btn">
                <button tpe="button" class="btn btn-default">Search</button></span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="features" class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="intro-text">
            <h2>Get Informed on your Brand's Twitter presence</h2>
            <p>See what's happening. Know your brand's sentiment.</p>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <p>Graph Image</p>
        </div>
        <div class="col-sm-12 col-lg-4">
          <p>Graph Image</p>
        </div>
        <div class="col-sm-12 col-lg-4">
          <p>Graph Image</p>
        </div>
      </div>
    </section>
  </body>
</html>