doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- BOOTSTRAP CSS CDN
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    //- OPEN SANS FONT GOOGLE CDN
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="/css/default.css")
    title Twitterment
  body
    //- Hero Section
    header.container-fluid
      //- Nav Bar
      .row
        nav.col-sm-12
          a(href="#home" id="home-nav") Twitterment
          ul
            li#features-nav
              a(href="#features") Features
            li#about-nav
              a(href="#about")
            li#contact-nav
              a(href="contact")
      .row
        title.col-sm-12
          h1 Track your Brand Sentiment on Twitter
          h2 What are people saying about your brand?
          h2.text-logo
            | Twitterment

    section#features.container
        .row
          .col-sm-12
            .intro-text
              h2 Get Informed on your Brand's Twitter presence
              p See what's happening. Know your brand's sentiment.
          .col-sm-12.col-lg-4
            p Graph Image
          .col-sm-12.col-lg-4
            p Graph Image
          .col-sm-12.col-lg-4
            p Graph Image