/* Reusable Styles
======================== */
/* line 18, default.scss */
html,
body {
  font-family: "Open Sans", sans-serif;
  color: #999;
  background-color: white;
  font-size: 16px;
}

/* line 26, default.scss */
.intro-text {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #4d4d4d;
}
/* line 32, default.scss */
.intro-text h2 {
  font-size: 35px;
  font-weight: 700;
}
/* line 37, default.scss */
.intro-text p {
  font-weight: 400;
  font-size: 16px;
}

/* Header and Nav Styles
======================== */
/* line 49, default.scss */
header nav {
  height: 60px;
  background-color: #1a1a1a;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 54, default.scss */
header nav ul {
  width: 80% !important;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  padding: 0;
  width: 100%;
}
/* line 62, default.scss */
header nav ul li {
  display: inline-block;
  padding-top: 22px;
  margin-right: 40px;
}
/* line 67, default.scss */
header nav ul li a {
  padding: 10px 0;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  transition: all 0.25s ease-in-out;
}
/* line 75, default.scss */
header nav ul li a:hover, header nav ul li a:active, header nav ul li a:focus {
  color: #2bb656;
  outline: none;
}
/* line 82, default.scss */
header nav ul li a:after {
  content: "";
  padding-bottom: 7px;
  display: block;
  border-bottom: 2px solid #2bb656;
  width: 0;
  transition: all 0.25s ease-in-out;
  pointer-events: none;
}
/* line 92, default.scss */
header nav ul li a:hover:after {
  width: 100%;
}

/* Hero and Search Bar Styles
======================== */
/* line 103, default.scss */
.hero {
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
/* line 111, default.scss */
.hero .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
}
/* line 118, default.scss */
.hero .content h1,
.hero .content h2 {
  color: white;
  text-align: center;
}
/* line 124, default.scss */
.hero .content h1 {
  order: 3;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #cfcfcf;
}
/* line 132, default.scss */
.hero .content h2 {
  order: 2;
  font-size: 40px;
  font-weight: 700;
}
/* line 138, default.scss */
.hero .content .text-logo {
  order: 1;
  font-weight: 600;
  font-size: 40px;
  color: #2bb656;
}
/* line 146, default.scss */
.hero .content #search-bar {
  order: 4;
  width: 350px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
/* line 153, default.scss */
.hero .content #search-bar input:focus {
  border: 1px solid #218d43;
  box-shadow: 0 0 4px #218d43;
}
/* line 158, default.scss */
.hero .content #search-bar .btn-default {
  background-color: #2bb656;
  border-color: #2bb656;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
/* line 167, default.scss */
.hero .content #search-bar .btn-default:hover {
  background-color: #218d43;
  border-color: #218d43;
}

/* Results Styles
======================== */
/* line 180, default.scss */
.dashboard {
  height: 800px;
  padding: 20px 0;
  overflow-y: hidden;
  background-color: #e6e6e6;
}
/* line 186, default.scss */
.dashboard h1 {
  color: #4d4d4d;
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}
/* line 195, default.scss */
.dashboard .twitter-activity-chart h4 {
  text-align: center;
}
/* line 199, default.scss */
.dashboard .twitter-activity-chart svg {
  background-color: #f7f7f7;
  display: block;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 207, default.scss */
.dashboard .twitter-activity-chart svg .axis path,
.dashboard .twitter-activity-chart svg .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
/* line 214, default.scss */
.dashboard .twitter-activity-chart svg .axis text {
  font-family: sans-serif;
  font-size: 14px;
}

/* line 222, default.scss */
.stream {
  height: 800px;
  overflow-y: scroll;
  background-color: #273333;
  padding: 0 20px;
}
/* line 228, default.scss */
.stream h1 {
  margin-bottom: 0;
  padding: 15px 5px 10px;
  color: #4d4d4d;
  border-radius: 5px 5px 0 0;
  font-size: 32px;
  text-align: center;
  background-color: #e6e6e6;
}
/* line 238, default.scss */
.stream .tweet-list {
  background-color: #e6e6e6;
  padding-bottom: 20px;
}
/* line 242, default.scss */
.stream .tweet-list .tweet-card {
  padding: 10px 0px 10px 15px;
  margin: 0 10px 5px 10px;
  border-bottom: 1px solid #ccc;
  background-color: white;
}
/* line 248, default.scss */
.stream .tweet-list .tweet-card .profile-image {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
/* line 259, default.scss */
.stream .tweet-list .tweet-card .content {
  display: inline-block;
  width: 80%;
}
/* line 263, default.scss */
.stream .tweet-list .tweet-card .content .user .name {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 700;
  margin-right: 10px;
}
/* line 270, default.scss */
.stream .tweet-list .tweet-card .content .user .username {
  font-size: 14px;
}
/* line 275, default.scss */
.stream .tweet-list .tweet-card .content .text {
  font-size: 12px;
}

/*# sourceMappingURL=default.css.map */
