/* Reusable Styles
======================== */
$primary-black: #1a1a1a;
$primary-green: #2bb656;
$primary-blue: #1d67a7;

$background-dark-gray: #273333;
$background-chart-gray: #f7f7f7;
$background-light-gray: #e6e6e6;

$text-black: #4d4d4d;
$text-gray: #999;
$CTA-green: #59cb59;
$CTA-hover-green: #218d43;

$font-family: 'Open Sans', sans-serif;

html,
body {
  font-family: $font-family;
  color: $text-gray;
  background-color: white;
  font-size: 16px;
  overflow-x: hidden;
}

.intro-text {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: $text-black;

  h2 {
    font-size: 35px;
    font-weight: 700;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }
}


/* Header and Nav Styles
======================== */

header {
  
  nav {
    height: 60px;
    background-color: $primary-black;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.3);

    ul {
      width: 80% !important;
      margin-right: auto;
      margin-left: auto;
      list-style: none;
      padding: 0;
      width: 100%;

      li {
        display: inline-block;
        padding-top: 22px;
        margin-right: 40px;

        a {
          padding: 10px 0;
          text-decoration: none !important;
          text-transform: uppercase;
          font-size: 13px;
          color: $text-gray;
          transition: all 0.25s ease-in-out;

          &:hover,
          &:active,
          &:focus {
            color: $primary-green;
            outline: none;
          }

          &:after {
            content: "";
            padding-bottom: 7px;
            display: block;
            border-bottom: 2px solid $primary-green;
            width: 0;
            transition: all 0.25s ease-in-out;
            pointer-events: none;
          }

          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }
}

/* Hero and Search Bar Styles
======================== */
.hero {
  height: 800px;
  background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.8)),  url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;

  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;

    h1,
    h2 {
      color: white;
      text-align: center;
    }

    h1 {
      order: 3;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #cfcfcf;
    }

    h2 {
      order: 2;
      font-size: 40px;
      font-weight: 700;
    }

    .text-logo {
      order: 1;
      font-weight: 600;
      font-size: 40px;
      color: $primary-green;
    }


    #search-bar {
      order: 4;
      width: 350px;
      margin-top: 40px;
      margin-right: auto;
      margin-left: auto;
      
      input:focus {
        border: 1px solid $CTA-hover-green;
        box-shadow: 0 0 4px $CTA-hover-green;
      }
      
      .btn-default {
        background-color: $primary-green;
        border-color: $primary-green;
        font-family: $font-family;
        font-weight: 300;
        color: white;
        text-transform: uppercase;
        transition: all 0.25s ease-in-out;

        &:hover {
          background-color: $CTA-hover-green;
          border-color: $CTA-hover-green;
        }
      }
    }
  }
}


/* Results Styles
======================== */

  .dashboard {
    height: 800px;
    padding: 20px 0;
    overflow-y: hidden;
    background-color: $background-light-gray;

    h1 {
      color: $text-black;
      text-align: center;
      font-size: 32px;
      margin-bottom: 30px;
    }

    .twitter-activity-chart {
      
      h4 {
        text-align: center;
      }

      svg {
        background-color: $background-chart-gray;
        display: block;
        margin: auto;
        border-radius: 5px;
        box-shadow: 0 0 1px 1px rgba(0,0,0, 0.2);


        .axis path,
        .axis line {
          fill: none;
          stroke: black;
          shape-rendering: crispEdges;
        }

        .axis text {
          font-family: sans-serif;
          font-size: 14px;
        }
      }
    }
  }

  .stream {
    height: 800px;
    background-color: $background-dark-gray;
    padding: 0 25px 0 15px;

    h1 {
      margin-bottom: 0;
      padding: 15px 5px 10px;
      color: $text-black;
      border-radius: 5px 5px 0 0;
      font-size: 32px;
      text-align: center;
      background-color: $background-light-gray;
    }

    .tweet-list {
      height: 700px;
      background-color: $background-light-gray;
      padding-bottom: 20px;
      overflow-y: scroll;

      .tweet-card {
        padding: 10px 0px 10px 15px;
        margin: 0 10px 5px 10px;
        border-bottom: 1px solid #ccc;
        background-color: white;

        .profile-image {
          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
          height: 50px;
          width: 50px;
          border-radius: 5px;


        }

        .content {
          display: inline-block;
          width: 80%;
          .user {
            .name {
              font-size: 14px;
              color: $text-black;
              font-weight: 700;
              margin-right: 10px;
            }

            .username {
              font-size: 14px;
            }
          }

          .text {
            font-size: 12px;
          }
        }
      }
    }
  }




































