/* Reusable Styles
======================== */
/* line 17, default.scss */
html,
body {
  font-family: "Open Sans", sans-serif;
  color: #999;
  background-color: white;
}

/* line 24, default.scss */
.intro-text {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #4d4d4d;
}
/* line 30, default.scss */
.intro-text h2 {
  font-size: 35px;
  font-weight: 700;
}
/* line 35, default.scss */
.intro-text p {
  font-weight: 400;
  font-size: 16px;
}

/* Header Styles
======================== */
/* line 45, default.scss */
header {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
/* line 53, default.scss */
header nav {
  height: 60px;
  background-color: #1a1a1a;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 58, default.scss */
header nav ul {
  width: 80% !important;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  padding: 0;
  width: 100%;
}
/* line 66, default.scss */
header nav ul li {
  display: inline-block;
  padding-top: 22px;
  margin-right: 40px;
}
/* line 71, default.scss */
header nav ul li a {
  padding: 10px 0;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  transition: all 0.25s ease-in-out;
}
/* line 79, default.scss */
header nav ul li a:hover, header nav ul li a:active, header nav ul li a:focus {
  color: #2bb656;
  outline: none;
}
/* line 86, default.scss */
header nav ul li a:after {
  content: "";
  padding-bottom: 7px;
  display: block;
  border-bottom: 2px solid #2bb656;
  width: 0;
  transition: all 0.25s ease-in-out;
  pointer-events: none;
}
/* line 96, default.scss */
header nav ul li a:hover:after {
  width: 100%;
}
/* line 104, default.scss */
header .hero {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}
/* line 111, default.scss */
header .hero h1,
header .hero h2 {
  color: white;
  text-align: center;
}
/* line 117, default.scss */
header .hero h1 {
  order: 3;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #cfcfcf;
}
/* line 125, default.scss */
header .hero h2 {
  order: 2;
  font-size: 40px;
  font-weight: 700;
}
/* line 131, default.scss */
header .hero .text-logo {
  order: 1;
  font-weight: 600;
  font-size: 40px;
  color: #2bb656;
}
/* line 139, default.scss */
header .hero #search-bar {
  order: 4;
  width: 350px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
/* line 146, default.scss */
header .hero #search-bar input:focus {
  border: 1px solid #218d43;
  box-shadow: 0 0 4px #218d43;
}
/* line 151, default.scss */
header .hero #search-bar .btn-default {
  background-color: #2bb656;
  border-color: #2bb656;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
/* line 160, default.scss */
header .hero #search-bar .btn-default:hover {
  background-color: #218d43;
  border-color: #218d43;
}

/* Dashboard Styles
======================== */
/* line 174, default.scss */
#App {
  height: 800px;
}
/* line 177, default.scss */
#App .analysis {
  height: 800px;
  overflow-y: hidden;
  background-color: #273333;
}
/* line 183, default.scss */
#App .stream {
  height: 800px;
  overflow-y: scroll;
  background-color: #f7f7f7;
}

/*# sourceMappingURL=default.css.map */
